/* Heading colors cloned from Dekurai (lab vault) */
body {
  --h1-color: #289aff;
  --h2-color: #00f56a;
  --h3-color: #0af7ff;
  --h4-color: #F9F871;
  --h5-color: #ff5757;
  --h6-color: #ff3cd5;
}
